
body {
  margin: 40px 0 0;
}

#room {
  display: block;
  max-width: 1024px;
}

.b-index-page {
  display: block;
  max-width: 1024px;
}

.b-index-pag__content {

}

.link-wr {
  margin-bottom: 10px;
}

.b-video {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

#peer-camera {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #444;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 600px;
}

#peer-camera > video {
  display: block;
  width: 100%;
}

#my-camera {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 16%;
  min-width: 150px;
}

#my-video {
  display: block;
  width: 100%;

  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

video + canvas {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#messenger-wrapper {
  display: block;
  margin: 20px 0 0;
}

.b-messages {
  display: block;
  margin: 10px 0;
}

.b-messages__item {
  overflow: hidden;
}

.b-messages__item + .b-messages__item {
  margin-top: 5px;
}

.b-message__item-avatar {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 0 10px 0 0;
  display: block;
}

.b-message__item-text {
  overflow: hidden;
  padding: 4px 5px;
  display: block;
  line-height: 1.2;
  font-size: 14px;
  font-family: monospace;
  white-space: pre-line;
}

.b-road-map {
  display: block;
  margin: 10px 0 0;
  text-align: center;
}

.b-road-map__link {

}
